body {
    background-color: #fce6fc;
    font-family: Courier, sans-serif;
    }

h1 {
		color: #f88800;
		font-size: 36px;
		text-align: center;
    }

	
p {
	color: #555;
	line-height: 1.6;
	font-size: 15px;
	text-align: justify;
   }
   
img {
  width: 100%; 
  max-width: 300px; 
  border: 4px solid #BB00FF; 
  border-radius: 32px; 
  display: block;
  margin: 0 auto;
  text-align: center;
	}
 
.p-header1 {
	font-size: 20px;
	text-align: center;
}


 .header-cat {
	 color: rgb(26, 69, 177);
	 font-size: 24px;
	 text-align: left;
 	}
 
 .header-grafichk {
	 color: rgb(55, 46, 58);
	 font-size: 24px;
	 text-align: left;
	 }


 .p-grafichk {
	color: #154e11;
	line-height: 1.6;
	font-size: 15px;
 	}

 





 